html,
body,
#root {
  background: #121212 !important;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  height: 100%;
  overflow: scroll;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
