/* Footer CSS */
.footer {
  height: 75px !important;
  margin: 0 auto !important;
  padding: 10px !important;
  text-align: center !important;
  width: 90% !important;
}

.footer-title {
  cursor: pointer;
}

/* Menu CSS */
.menu-close {
  left: 10px;
  margin-left: 0 !important;
  position: fixed;
  top: 10px;
}

.menu-collapsed {
  background: #121212 !important;
  height: 100%;
  margin: 0 !important;
  position: fixed;
  width: 60px !important;
}

.menu-collapsed-mobile {
  background: #121212 !important;
  height: 100%;
  left: 0;
  margin: 0 !important;
  position: absolute;
  top: 0;
  width: 60px !important;
}

.menu-item {
  height: 50px !important;
}

.menu-item span {
  font-size: 1.4em !important;
}

.menu-item-auth {
  bottom: 0;
  position: absolute !important;
  width: 60px;
}

.menu-item-title {
  text-align: center;
}

.menu-open {
  background: #282b33 !important;
  left: 0;
  position: fixed !important;
  margin-top: -18% !important;
}

.menu-open-auth {
  bottom: 0;
  position: absolute !important;
  width: 100%;
}

.menu-open-auth-pic img {
  border-radius: 50% !important;
  margin: 50px auto 30px auto !important;
  width: 30% !important;
}

.menu-title {
  font-family: "Press Start 2P", cursive !important;
  font-size: 1.3em !important;
}
