/* Footer CSS */
.footer {
  background: #282b33 !important;
  bottom: 0;
  height: 75px !important;
  padding: 10px !important;
  position: absolute !important;
  text-align: center !important;
  width: 100% !important;
}

.footer-title {
  cursor: pointer;
}

/* Header CSS */
.header-sidebar {
  background: #282b33 !important;
  position: absolute !important;
  margin-top: -18% !important;
}

.header-sidebar-image {
  height: 20% !important;
  padding: 0 !important;
  position: relative !important;
  width: 100% !important;
}

.header-sidebar-image img {
  height: 100% !important;
  opacity: 0.5 !important;
  width: 100% !important;
}

.header-sidebar-image span {
  font-family: "Press Start 2P", cursive !important;
  font-size: 1.3em !important;
  left: 0 !important;
  position: absolute !important;
  text-align: center !important;
  top: 50% !important;
  width: 100% !important;
}

.header-sidebar-profile {
  bottom: 0;
  margin-bottom: 15px !important;
  position: absolute !important;
}

.header-sidebar-profile-pic img {
  border-radius: 50% !important;
  margin: 50px auto 30px auto !important;
  width: 30% !important;
}

.header-sidebar-tab-active {
  border-left: #2de1c2 solid 3px !important;
}

.header-sidebar-tab {
  padding-top: 15px !important;
}

.header-sidebar-tab:hover {
  border-left: #2de1c2 solid 3px !important;
}

.header-sidebar-tab span {
  font-size: 1.5em !important;
}

.header-sidebar-tab-profile:before {
  height: 0px !important;
}

.header-sidebar-tab-profile span {
  font-size: 1.5em !important;
}

.header-top {
  background: #282b33 !important;
  border-radius: 0;
}

.header-top i:hover {
  cursor: pointer;
}

.header-top-title {
  font-size: 1.5em !important;
  margin: 0 0 0 20px !important;
  vertical-align: middle;
}
