.event-card {
  position: relative;
}

.event-content {
  background: #2d2d2d;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 0 35px 15%;
  padding: 2%;
  position: relative;
  width: 75%;
}

.event-date {
  font-family: Helvetica-Light;
  font-size: 0.9em;
  margin: 0 0 0 auto;
}

.event-icon {
  background: #1ed3b3;
  border-radius: 50%;
  color: #fff;
  height: 80px;
  left: 10%;
  line-height: 80px;
  margin: 0 0 -3px -45px;
  position: absolute;
  text-align: center;
  top: 15%;
  width: 80px;
}

.event-icon img {
  height: 55px;
  width: 55px;
}

.event-title {
  color: white;
  margin: 0;
  max-width: 70%;
}

.event-title-container {
  align-items: center;
  display: flex;
  min-height: 60px;
}

.event-view {
  bottom: 0;
  color: white;
  font-family: Helvetica-Light;
  font-size: 0.8em;
  margin-bottom: 5px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  width: 93%;
}
