.event-card-event-image {
  margin: 0 auto;
  max-height: 140px;
  max-width: 140px;
}

.event-card-label {
  z-index: 1;
}

.event-card-range {
  color: white !important;
}

.event-card-row {
  background: #282b33;
  cursor: pointer;
  margin-top: 30px !important;
}

.event-card-timer {
  opacity: 0.5;
}

.event-card-timer-mobile {
  color: white !important;
  margin-top: 10px !important;
}

.event-card-title {
  background: #282b33 !important;
}

.event-card-view {
  bottom: 0;
  color: white !important;
  margin-bottom: 10px;
  padding: 0 40% 0 40%;
  position: absolute;
  text-align: center !important;
  text-decoration: underline;
  width: 100% !important;
}
