.row {
  background: #282b33;
  cursor: pointer;
  margin-top: 30px !important;
}

.row-close {
  height: 20px !important;
  margin-right: 10px !important;
}

.row-close:hover {
  border-bottom: #2de1c2 solid 3px !important;
  cursor: pointer;
}

.row-countdown {
  font-size: 1.5em;
  opacity: 0.5;
  text-align: right !important;
}

.row-countdown-mobile {
  font-size: 1em;
  opacity: 0.5;
  position: absolute !important;
  text-align: right !important;
  top: 0 !important;
}

.row-edit {
  bottom: 20px;
  left: 20px;
  position: absolute;
}

.row-expanded {
  background: #282b33;
  margin-top: 30px !important;
  cursor: pointer;
}

.row-image {
  margin: 0 auto;
  max-height: 140px;
  max-width: 140px;
}

.row-label {
  z-index: 1;
}

.row-mobile {
  background: #282b33;
  cursor: default !important;
  margin-top: 30px !important;
  padding-bottom: 20px !important;
}

.row-mobile:focus {
  outline: none !important;
}

.row-range {
  color: white !important;
}

.row-range-mobile {
  color: white !important;
  margin-top: 15px !important;
}

.row-title {
  background: #282b33 !important;
  margin-top: 60px !important;
  padding: 0 0 0 0 !important;
}

.row-title-mobile {
  background: #282b33 !important;
  padding: 0 0 0 0 !important;
}

.row-view-segment {
  background: #282b33 !important;
  height: 40px !important;
  padding: 0 0 0 0 !important;
}

.row-recurring {
  margin: 30px 0 0 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.row-recurring:before {
  position: static !important;
  top: auto !important;
}

.row-recurring:after {
  position: static !important;
  top: auto !important;
}

.row-recurring-splitter {
  width: 100% !important;
}
