.pokemon-corner-left {
  left: 0 !important;
  margin: 10px 0 0 10px !important;
  position: absolute !important;
}

.pokemon-corner-right {
  cursor: pointer;
  margin: 10px 10px 0 0 !important;
  position: absolute;
  right: 0;
}

.pokemon-content {
  background: #282b33 !important;
  border-radius: 15px !important;
}

.pokemon-divider {
  padding: 0 18px 0 18px;
}

.pokemon-shiny {
  height: 25px !important;
  width: 25px !important;
}

.pokemon-sprite {
  align-items: center;
  display: flex !important;
  justify-content: center !important;
  width: 100%;
}

.pokemon-sprite-next {
  cursor: pointer;
  margin-right: 20px !important;
}

.pokemon-sprite-previous {
  cursor: pointer;
  margin-left: 20px !important;
}

.pokemon-stat {
  margin-right: 5px !important;
}

.pokemon-stats {
  background: #282b33 !important;
  margin: 0 !important;
  width: 100% !important;
}

.pokemon-table-header {
  background: #1c1e23 !important;
}

.pokemon-table-row {
  background: #22242b !important;
}

.pokemon-tags {
  text-align: center;
}

.pokemon-title {
  border-radius: 15px !important;
  display: flex !important;
  justify-content: center;
  margin: 0 !important;
  padding: 15px 0 15px 0 !important;
  text-align: center;
  width: 100%;
}

.pokemon-title-name {
  font-weight: bolder !important;
  margin: 0 10px 0 10px !important;
}

.pokemon-title-number {
  font-weight: 100 !important;
}

.pokemon-type {
  height: 25px !important;
  width: 25px !important;
}

.pokemon-types {
  padding-bottom: 15px !important;
  text-align: center;
}
