.pokemon-centered {
  margin: 0 auto !important;
  text-align: center;
}

.pokemon-close {
  cursor: pointer;
  margin: 15px 15px 0 0 !important;
  position: absolute;
  right: 0;
}

.pokemon-content {
  background: #282b33 !important;
}

.pokemon-data-grid {
  margin-top: 30px !important;
  padding-bottom: 20px !important;
}

.pokemon-sprite {
  align-items: center;
  display: flex !important;
  justify-content: center !important;
  width: 100%;
}

.pokemon-sprite-next {
  cursor: pointer;
  margin-right: 20px !important;
}

.pokemon-sprite-previous {
  cursor: pointer;
  margin-left: 20px !important;
}

.pokemon-stats {
  background: #282b33 !important;
  padding: 20px !important;
}

.pokemon-title {
  display: flex !important;
  justify-content: center;
  margin-top: 0 !important;
  padding-top: 15px !important;
  text-align: center;
}

.pokemon-title-name {
  font-weight: bolder !important;
  margin: 0 10px 0 10px !important;
}

.pokemon-title-number {
  font-weight: 100 !important;
}

.pokemon-type {
  height: 20px !important;
  margin-top: 5px !important;
  width: 20px !important;
}
