.mobile-sidebar {
  overflow-y: auto !important;
  width: 75% !important;
}

.mobile-sidebar-app {
  height: 20% !important;
  padding: 0 !important;
  position: relative !important;
  width: 100% !important;
}

.mobile-sidebar-app img {
  height: 100% !important;
  opacity: 0.5 !important;
  width: 100% !important;
}

.mobile-sidebar-app span {
  font-size: 1.3em !important;
  font-family: "Press Start 2P", cursive;
  left: 0 !important;
  position: absolute !important;
  top: 50% !important;
  width: 100% !important;
}

.mobile-sidebar-profile {
  display: flex !important;
  bottom: 0 !important;
  justify-content: center !important;
  min-height: 67px !important;
  position: absolute !important;
  width: 100% !important;
}
