.header-container {
  border-bottom: 1px solid gray;
  height: 80px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-profile {
  height: 100%;
  position: relative;
}

.header-profile-img {
  border-radius: 50%;
  height: 50px;
  right: 1%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
