.header-container {
  background: #121212 !important;
  margin-bottom: 10px !important;
  min-height: 66px !important;
}

.header-center {
  color: white !important;
  margin: 0 auto !important;
}

.header-dropdown {
  border-radius: 0% !important;
}

.header-profile {
  position: absolute !important;
  right: 0;
}

.header-tab {
  cursor: pointer !important;
  float: left !important;
  min-height: 66px !important;
}

.header-tab span {
  color: white !important;
  margin: 0 auto !important;
}

.header-tab-active {
  border-bottom: #2de1c2 solid 3px !important;
}

.header-tabs-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
