.header-container {
  background: #121212 !important;
  margin-bottom: 10px !important;
  min-height: 66px !important;
}

.header-center {
  color: white !important;
  margin: 0 auto !important;
}

.header-dropdown {
  background: #121212 !important;
  border-radius: 0% !important;
  color: white !important;
}

.header-profile {
  margin-left: auto !important;
  min-height: 66px !important;
  min-width: 88px !important;
}

.header-profile:hover {
  border-bottom: #2de1c2 solid 3px !important;
}

.header-tab {
  cursor: pointer !important;
  float: left !important;
  min-height: 66px !important;
}

.header-tab span {
  color: white !important;
  margin: 0 auto !important;
}

.header-tab:hover {
  border-bottom: #2de1c2 solid 3px !important;
}

.header-tab-active {
  border-bottom: #2de1c2 solid 3px !important;
}

.header-tab-event {
  margin-left: auto !important;
}

.header-tabs-wrapper {
  display: flex;
  justify-content: center;
  padding-left: 88px !important;
  width: 100% !important;
}
