.timeline {
  list-style: none;
  padding: 50px 0 0 0;
  position: relative;
}

.timeline:before {
  background: #1ed3b3;
  bottom: 0;
  content: "";
  left: 10%;
  margin-left: -10px;
  position: absolute;
  top: 5%;
  width: 10px;
}
