/* MetaBlock CSS */
.meta-block {
  padding: 40px 40px 0 40px;
}

.meta-buttons {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}

.meta-buttons-add {
  margin-right: 20px !important;
}

/* EventModal CSS */
.modal-actions {
  display: flex;
  justify-content: center;
}

.modal-background {
  color: white !important;
}

.modal-container {
  position: unset !important;
}

.modal-datepicker {
  margin-top: 4px !important;
}

.modal-divider {
  margin: 0 !important;
}

.modal-header {
  text-align: center !important;
}

.modal-label {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
}
